/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */

.MainContainer {
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Roboto";
}

.PgnContainer {
    background-color: rgba(230, 230, 230, 0.596);
    height: 13em;
    width: 13em;
    overflow-y: scroll;
    margin: 0 0 0 15%;
    border-radius: 5px;
}

.PgnContainer::-webkit-scrollbar {
    width: 0;
    font-weight: normal;
}

.whoMoves {
    display: block;
    text-align: center;
    font-family: "Roboto";
}

.blackTime {
    display: block;
    text-align: center;
}

.whiteTime {
    display: block;
    text-align: center;
}

.ChessBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-left: -10%; */

}

.btns-box {
    display: flex;
    margin: 0 0 0 24%;
}